
<!-- SLIDER -->
<section id="slider">
  <div id="home-carousel" class="carousel slide">
    <div class="carousel-inner">

      <div class="item active">
        <%=image_tag("headphones.jpg", id: "headphones")%>

        <div class="carousel-caption container">
          <div class="row">
            <div class="col-sm-7">
              <%= form_tag("/search", method: "get", class: "form-search", remote: true) do %>
                <h1>Looking for a song about
                <%= text_field_tag(:word) %></h1>
                <%= submit_tag("Search", class:"btn btn-send") %>
              <% end %>

              <div class="portfolio-wrapper" >
                <div class="col-md-12">
                  <ul class="filter">
                    <li>Input forms:</li>
                    <li data-target="#home-carousel" data-slide-to="0"><a class="active">Simple</a></li>
                    <li data-target="#home-carousel" data-slide-to="1"><a>Sentiment</a></li>
                    <li data-target="#home-carousel" data-slide-to="2" ><a>Party</a></li>
                    <li data-target="#home-carousel" data-slide-to="3"><a>Weather</a></li>

                  </ul><!--/#portfolio-filter-->

                </div>
              </div>
              <img
                class="f-pending-message"
                style="width:500px;height:180px;display:none;"
                src="https://userscontent2.emaze.com/images/c99e58c5-cc05-4af4-ab93-4614a40e077b/386d9c23-88e2-487a-b84f-47bba61bb4a6.gif"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="carousel-caption container">
          <div class="row">
            <div class="col-sm-7">

              <%= render "tracks/madlibs/02_sentiment" %>

              <div class="portfolio-wrapper" >
                <div class="col-md-12">
                  <ul class="filter">
                    <li>Input forms:</li>
                    <li data-target="#home-carousel" data-slide-to="0"><a>Simple</a></li>
                    <li data-target="#home-carousel" data-slide-to="1"><a class="active">Sentiment</a></li>
                    <li data-target="#home-carousel" data-slide-to="2" ><a>Party</a></li>
                    <li data-target="#home-carousel" data-slide-to="3"><a>Weather</a></li>

                  </ul><!--/#portfolio-filter-->

                </div>
              </div>
              <img
                class="f-pending-message"
                style="width:500px;height:180px;display:none;"
                src="https://userscontent2.emaze.com/images/c99e58c5-cc05-4af4-ab93-4614a40e077b/386d9c23-88e2-487a-b84f-47bba61bb4a6.gif"
              />
            </div>
          </div>
        </div>
      </div>




      <div class="item">
        <%= image_tag("dance_party.jpg", id: "danceparty")%>
        <div class="carousel-caption container">
          <div class="row">
            <div class="col-sm-7">

              <%= render "tracks/madlibs/03_party" %>

              <!-- Links to all madlibs -->
              <div class="portfolio-wrapper" >
                <div class="col-md-12">
                  <ul class="filter">
                    <li>Input forms:</li>
                    <li data-target="#home-carousel" data-slide-to="0"><a>Simple</a></li>
                    <li data-target="#home-carousel" data-slide-to="1"><a>Sentiment</a></li>
                    <li data-target="#home-carousel" data-slide-to="2"><a class="active">Party</a></li>
                    <li data-target="#home-carousel" data-slide-to="3"><a>Weather</a></li>

                  </ul><!--/#portfolio-filter-->

                </div>
              </div>
              <img
                class="f-pending-message"
                style="width:500px;height:180px;display:none;"
                src="https://userscontent2.emaze.com/images/c99e58c5-cc05-4af4-ab93-4614a40e077b/386d9c23-88e2-487a-b84f-47bba61bb4a6.gif"
              />

            </div>
          </div>
        </div>
      </div>




            <div class="item">
              <%= image_tag("dance_party.jpg", id: "danceparty")%>
              <div class="carousel-caption container">
                <div class="row">
                  <div class="col-sm-7">

                    <%= render "tracks/madlibs/weather_search" %>

                    <!-- Links to all madlibs -->
                    <div class="portfolio-wrapper" >
                      <div class="col-md-12">
                        <ul class="filter">
                          <li>Input forms:</li>
                          <li data-target="#home-carousel" data-slide-to="0"><a>Simple</a></li>
                          <li data-target="#home-carousel" data-slide-to="1"><a>Sentiment</a></li>
                          <li data-target="#home-carousel" data-slide-to="2"><a>Party</a></li>
                          <li data-target="#home-carousel" data-slide-to="3"><a class="active">Weather</a></li>

                        </ul><!--/#portfolio-filter-->

                      </div>
                    </div>
                    <img
                      class="f-pending-message"
                      style="width:500px;height:180px;display:none;"
                      src="https://userscontent2.emaze.com/images/c99e58c5-cc05-4af4-ab93-4614a40e077b/386d9c23-88e2-487a-b84f-47bba61bb4a6.gif"
                    />

                  </div>
                </div>
              </div>
            </div>


    </div> <!-- /.carousel-inner -->
  </div> <!--/#home-carousel-->
  </section>
<!-- /SLIDER -->

<!--RESULTS-->
<section id="services">
  <div class="container">
    <div id="show-area" class="row">
      (YOUR SONGS HERE!)
    </div>
  </div>
</section>
<!--/RESULTS-->


<!-- FOOTER -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <!-- SOCIAL ICONS -->
      <div class="col-sm-6 col-sm-push-6 footer-social-icons">
        <span>Find us on:</span>
        <a href="https://github.com/FridaSjoholm/lyrically-challenged" target="_blank"><i class="fa fa-github"></i></a>
      </div>
      <!-- /SOCIAL ICONS -->
      <div class="col-sm-6 col-sm-pull-6 copyright">
        <p>&copy; 2017 <a href="">Lyrically Challenged</a>. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
<!-- /FOOTER -->
