<h1> Song: <%= @track.name %> </h1>

valence: <%=@valence%>
<br>
danceability: <%=@danceability%>
<br>
duration: <%=@duration_ms%>
<br>
energy: <%=@energy%>
<br>
instrumentalness: <%=@instrumentalness%>
<br>
liveness: <%=@liveness%>
<br>
speechiness: <%=@speechiness%>
<br>
tempo: <%=@tempo%>
<br>
time signature: <%=@time_signature%>
<br>
