<%= form_tag("/search_with_sliders", method: "get", class: "form-search", remote: true) do %>



  <h1>SLIDE!
      <%= text_field_tag(:word) %></h1><br />

    <div id="master" style="width:260px; margin:15px;"></div>

<p class="ui-state-default ui-corner-all" style="padding:4px;margin-top:4em;">
  <span class="ui-icon ui-icon-signal" style="float:left; margin:-2px 5px 0 0;"></span>
  Graphic EQ
</p>

<div id="eq">
  <span>88</span>
  <span>77</span>
  <span>55</span>
  <span>33</span>
  <span>40</span>
  <span>45</span>
  <span>70</span>
</div>




  <h4>Filter by genre:
    <select name="genre" class="genre-dropdown">

      <ul class="dropdown-menu">
        <li><option value="">(All Genres)</option></li>
        <% @genres.each do |genre| %>
          <li><option value="<%=genre%>"><%=genre%></option></li>
        <% end %>
      </ul>
    </select>
  </h4>
  <br />
  <%= submit_tag("Search", class:"btn btn-send") %>

<% end %> <!-- form -->
