<!DOCTYPE html>
<html>
  <head>
    <title>LyricallyChallenged</title>
    <%= csrf_meta_tags %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Favicon -->
    <%=favicon_link_tag 'favicon.ico'%>
  </head>

  <body>
    <%=image_tag("LClogo.png", height: '150')%>
    <%= yield %>
  </body>
</html>
